body{
    background: #151D3B;
    color: #D82148;
    font-family: Lato, sans-serif;
}
.container{
    display: block;
    width: 400px;
    margin: 100px auto 0;
}
button {
    background: #D82148;
    border: 0px;
    border-radius: 10px;
    height: 40px;
    color: #fff;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: #6EBF8B;
  }

input{
    outline: none;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #151D3B;
}
input[type="text"]:focus {
    color: #151D3B;
}
task{
    height: 40px
    ;
}